
      <h1 *ngIf="!modificationReussi">{{ 'addRegime' | translate }}</h1>
      <h1 *ngIf="modificationReussi">{{ 'updated' | translate }}</h1>
<div class="formulaire">
      <form [formGroup]="regimeForm" (submit)="addOrUpdateRegime()">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'code' | translate }}</mat-label>
          <input matInput formControlName="code" placeholder="{{ 'code' | translate }}" required>
        </mat-form-field><br>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'description' | translate }}</mat-label>
          <input matInput formControlName="description" placeholder="{{ 'description' | translate }}" required>
        </mat-form-field><br>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'label' | translate }}</mat-label>
          <input matInput formControlName="label" placeholder="{{ 'label' | translate }}" required>
        </mat-form-field><br>
        <button mat-raised-button type="submit"  color="warn" style="width: 20%;margin-left: 3%" [routerLink]="['/resturation/diet-list']">
          {{'recette.formulaire.bouton.annuler'| translate}}</button>
        <button type="submit" mat-raised-button color="primary" style="width: 20%;margin-left: 5%"
                class=" text-white w-25 ml-6 mt-7" [disabled]="!isFormValid()">
          {{modificationReussi ? ('UPDATE'| translate) : 'SAVE' | translate}}
        </button>

      </form>
</div>








