

<div class="formulaire">

  <form [formGroup]="bedTypeForm" (ngSubmit)="onSubmit()" class="container">
    <h1 *ngIf="!modificationReussi">{{ "ajouter_type_bed" | translate }}</h1>
    <h1 *ngIf="modificationReussi">{{ "modifiertype_bed" | translate }}</h1>
    <mat-form-field appearance="outline">
      <mat-label>{{ "label" | translate }}</mat-label>
      <input matInput formControlName="label" >
      <mat-error *ngIf="bedTypeForm.get('label')?.hasError('required')">Le label est requis</mat-error>
    </mat-form-field>
    <button mat-raised-button  routerLink='/hotelerie/bed-list' style="color: darkslateblue; width: 43%;margin-left: 4%;background-color: white;border: 1px solid darkslateblue ">{{ 'Annuler' | translate }}</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="!isFormValid()" style=" width: 43%;margin-left: 4%; ">
      {{modificationReussi ? ('UPDATE'| translate) : 'SAVE' | translate}}
    </button>
  </form>
</div>

