
      <div class="page">
        <form [formGroup]="recetteForm" (ngSubmit)="onSubmit()">
          <h1>
            {{'recette.formulaire.titre'| translate}}
          </h1>
          <mat-form-field appearance="outline">
            <mat-label>{{'recette.formulaire.label.nom'| translate}}</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'recette.formulaire.label.categorie'| translate}}</mat-label>
            <mat-select formControlName="Category" required>
              <mat-option value="pizza">pizza</mat-option>
              <mat-option value="boisson">boisson</mat-option>
              <mat-option value="dessert">dessert</mat-option>
              <mat-option value="soup">soup</mat-option>
              <mat-option value="entrée">entrée</mat-option>
              <mat-option value="plat">plat</mat-option>
              <mat-option value="sous recette">sous recette</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'recette.formulaire.label.valeurProduction'| translate}}</mat-label>
            <input matInput type="number" formControlName="ProductionValue" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'recette.formulaire.label.uniteProduction'| translate}}</mat-label>
            <input matInput formControlName="unitProductionValue" required>
          </mat-form-field>
          <div formArrayName="IngredientRecipe" >
            <div *ngFor="let ingredientGroup of ingredientRecipesFormArray.controls; let i = index">
              <div [formGroupName]="i">
                <mat-form-field appearance="outline" style=" width: 20%">
                  <mat-label>{{'recette.formulaire.label.ingredient'| translate}}</mat-label>
                  <mat-select formControlName="ingredient" required>
                    <mat-option *ngFor="let ing of ingredients$ | async" [value]="ing.id">{{ ing.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" style=" width: 20%"  >
                  <mat-label>{{'recette.formulaire.label.quantite'| translate}}</mat-label>
                  <input matInput type="number" formControlName="quantity" required>
                </mat-form-field>
                <mat-form-field appearance="outline" style=" width: 20%" >
                  <mat-label>{{'recette.formulaire.label.unite'| translate}}</mat-label>
                  <mat-select formControlName="unit" required>
                    <mat-option value="g">g</mat-option>
                    <mat-option value="kg">kg</mat-option>
                    <mat-option value="litres">litres</mat-option>
                    <mat-option value="ml">ml</mat-option>
                    <mat-option value="l">l</mat-option>
                    <mat-option value="cl">cl</mat-option>
                    <mat-option value="oz">oz</mat-option>
                    <mat-option value="portion(s)">portion(s)</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-icon-button (click)="annulerAjoutIngredient()" color="warn" class=" text-black w-14 ml-1 my-1 mx-1">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <button mat-raised-button  type="button" color="primary" class=" caret-amber-950 text-white w-35 ml-6 my-1 mx-1" (click)="addIngredient()">
           {{'recette.formulaire.bouton.ajouterIngredient'| translate}}</button><br>
          <div formArrayName="SousRecipe">
            <h1>
              {{'recette.formulaire.sousRecette.titre'| translate}}
            </h1>
            <div *ngFor="let sousRecetteGroup of sousRecettesFormArray.controls; let i = index">
              <div [formGroupName]="i">
                <mat-form-field appearance="outline" style="width: 20%">
                  <mat-label> {{'recette.formulaire.sousRecette.label.nom'| translate}}</mat-label>
                  <input matInput formControlName="name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{'recette.formulaire.sousRecette.label.valeurProduction'| translate}}</mat-label>
                  <input matInput type="number" formControlName="productionValue" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{'recette.formulaire.sousRecette.label.uniteProduction'| translate}}</mat-label>
                  <input matInput formControlName="unitProductionValue" required>
                </mat-form-field>
                <button mat-icon-button (click)="annulersousrecete()"  color="warn" class=" text-black w-14 ml-1 my-1 mx-1">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <button mat-raised-button type="button" (click)="addSousRecette()" color="primary" class=" caret-amber-950 text-white w-35 ml-6">
           {{'recette.formulaire.sousRecette.titre'| translate}}</button><br>
          <button mat-raised-button type="submit"     color="warn" class=" text-white w-25 ml-6 mt-7" [routerLink]="['/resturation/recipe-list']">{{'recette.formulaire.bouton.annuler'| translate}}</button>
          <button type="submit" mat-raised-button color="primary"
                  class=" text-white w-25 ml-6 mt-7" [disabled]="!isFormValid()">
            {{modificationReussi ? ('UPDATE'| translate) : 'SAVE' | translate}}
          </button>
        </form>
      </div>
      <div>
      </div>
